In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/renukanalawade/Desktop/spotify_millsongdata.csv')

In [3]:
df.describe

<bound method NDFrame.describe of              artist                   song  \
0              ABBA  Ahe's My Kind Of Girl
1              ABBA       Andante, Andante
2              ABBA         As Good As New
3              ABBA                   Bang
4              ABBA       Bang-A-Boomerang
...             ...                    ...
57645  Ziggy Marley          Good Old Days
57646  Ziggy Marley          Hand To Mouth
57647          Zwan           Come With Me
57648          Zwan                 Desire
57649          Zwan              Heartsong

                                              link  \
0       /a/abba/ahes+my+kind+of+girl_20598417.html
1            /a/abba/andante+andante_20002708.html
2             /a/abba/as+good+as+new_20003033.html
3                       /a/abba/bang_20598415.html
4           /a/abba/bang+a+boomerang_20002668.html
...                                            ...
57645  /z/ziggy+marley/good+old+days_10198588.html
57646  /z/ziggy+marley/hand+to+mouth_20531167.html
57647           /z/zwan/come+with+me_20148981.html
57648                 /z/zwan/desire_20148986.html
57649              /z/zwan/heartsong_20148991.html

                                                    text
0      Look at her face, it's a wonderful face  \r\nA...
1      Take it easy with me, please  \r\nTouch me gen...
2      I'll never know why I had to go  \r\nWhy I had...
3      Making somebody happy is a question of give an...
4      Making somebody happy is a question of give an...
...                                                  ...
57645  Irie days come on play  \r\nLet the angels fly...
57646  Power to the workers  \r\nMore power  \r\nPowe...
57647  all you need  \r\nis something i'll believe  \...
57648  northern star  \r\nam i frightened  \r\nwhere ...
57649  come in  \r\nmake yourself at home  \r\ni'm a ...

[57650 rows x 4 columns]>

In [4]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df = df.sample(5000).drop('link', axis = 1).reset_index(drop= True)

In [9]:
df.head(5)

,artist,song,text
0,Modern Talking,Stranded In The Middle Of Nowhere,Albatross \r\nShow me a dream of love \r\nAl...
1,Pink Floyd,No Good Trying,It's no good trying to place your hand \r\nWh...
2,Weird Al Yankovic,Polka Party!,You could have a big dipper \r\nGoing up and ...
3,Deep Purple,Silver Tongue,Well I'm standing here on moving station \r\n...
4,Tragically Hip,Fight,"We wake up different, rifle through our dreams..."

In [10]:
df['text'][0]

"Albatross  \r\nShow me a dream of love  \r\nAlbatross  \r\nWithout her love I'm lost  \r\nGood love never dies  \r\nAngels never fly so high  \r\nI'm dreaming, dreaming  \r\nComing back to me  \r\n  \r\nI'm stranded in the middle of nowhere, take care  \r\nI'm stranded in a struggle of my dreams, it seems  \r\nBaby, oh I need you more  \r\nLike roses need the rain  \r\nBaby, oh I need you more  \r\nCome and take my hand  \r\n  \r\nAlbatross  \r\nHarder I try, bluer I get  \r\nAlbatross  \r\nDon't leave me alone I'm sad  \r\nOh, I find my home  \r\nRight back where I started from  \r\nI'm dreaming, dreaming  \r\nComing back to me  \r\n  \r\nI'm stranded  \r\nNobody cries, time's on my side  \r\nI'm stranded  \r\nI don't know where but you're not there  \r\nI'm stranded  \r\nPlaying the fool, breaking the rules  \r\nI'm stranded  \r\nTake up your hand, make me a friend\r\n\r\n"

In [11]:
df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

In [13]:
# Text cleaning and Text preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', '', regex = True)

In [15]:
# steming/tokenization

import nltk
from nltk.stem.porter import PorterStemmer

In [16]:
stemmer = PorterStemmer()

In [17]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [18]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/renukanalawade/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
df['text'].apply(lambda x: token(x))

3369    [ vers : ] i just sit here wait for you to cal...
4680    ask ye what great thing i know that delight an...
2857    onc upon a time not so long ago peopl use to s...
2339    my babi do n't care for show my babi do n't ca...
34      [ choru ] i love you more than anyth than anyt...
                              ...
2493    i turn a corner it did n't seem that wa wrong ...
4653    bartend , i 'd like a manhattan pleas stop me ...
2306    stuck in the counti jail , nobodi here gon na ...
4321    ( vers ) look into yourself and see do you kno...
1261    `` who 's thi guitar-play sonsa bitch ? `` , i...
Name: text, Length: 5000, dtype: object

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
tfid = TfidfVectorizer(analyzer= 'word', stop_words='english')

In [22]:
matrix = tfid.fit_transform(df['text'])

In [23]:
similar = cosine_similarity(matrix)

In [24]:
similar[0]

array([1.        , 0.00115891, 0.03064669, ..., 0.00980599, 0.06782033,
       0.03085186])

In [26]:
df[df['song'] == 'No Good Trying'].index[0]

1

In [27]:
#Recommender function

def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [28]:
recommender('No Good Trying')

['Good Christian Men Rejoice',
 'Jesus, Jesus',
 "You're Everything",
 'Only Jesus',
 'Go Tell It On The Mountain',
 'Hymn 43',
 'Beneath The Waters',
 'Call Your Name',
 'Lift High The Cross',
 'Were You There',
 'Silver And Gold',
 'Fairest Lord Jesus',
 'My Soul Is Complete',
 'The Love Of Christ',
 'Dance',
 'Glory, Lord Jesus',
 'Reason I Live',
 'Away In A Manger',
 'O Come All Ye Faithful',
 'Are You Building A Temple In Heaven']

In [29]:
import pickle

In [34]:

file_path = "/Users/renukanalawade/Desktop/similarity.pkl"

pickle.dump(similar, open("similarity.pkl", "wb"))

In [31]:
import os

# Change working directory to a writable location
os.chdir('/Users/renukanalawade/Desktop')

In [33]:

pickle.dump(df, open("df.pkl", "wb"))